In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
cd drive/MyDrive/Capstone\ 3

/content/drive/MyDrive/Capstone 3

In [1]:
import pandas as pd
import os 
import ast
#import sentence_transformers  #### This is the package which we will use for encoding recipes using pretrained embedding
import matplotlib.pyplot as plt 
#import networkx as nx #### Network x will be used to create graph based algorithms
import pickle ### We will use pickleto save files for later access
#from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity ### Cosine Similary
from scipy import sparse ### Sparse Matrix
#model = SentenceTransformer('bert-large-nli-stsb-mean-tokens') ### We will use this senetnce encodings

Loaded in original interation dataframe and recippe dataframe and only kept the recipes that had more than 2 reviews

In [2]:
#interactions = pd.read_csv('data/RAW_interactions.csv')
#recipes = pd.read_csv('data/RAW_recipes.csv')

In [2]:
# g = {'rating' : ['mean'],'user_id' : ['nunique']}
# int_summary = interactions.groupby(['recipe_id']).agg(g).reset_index()
# ### Its gives a muti index output convert it to single index by cobining bothe level
# ind = pd.Index([e[0] + "_" +e[1] for e in int_summary.columns.tolist()])
# ### Assign the column names 
# int_summary.columns = ind
# int_summary.columns = ['recipe_id', 'rating_mean', 'user_id_nunique']
# ### We will keep only those recipes in considerstaion which have been reviewed by more than 2 people
# int_summary_94k = int_summary[ (int_summary['user_id_nunique'] > 2)]

In [3]:
#filter_recipe = pd.merge(recipes,int_summary_94k,right_on = ['recipe_id'],left_on = ['id'],how = 'inner')

In [ ]:
# test_df = filter_recipe.copy()
# #test_df['calories'] = test_df['nutrition']
# test_df['calories'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[0])
# test_df['total fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[1])
# test_df['sugar'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[2])
# test_df['sodium'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[3])
# test_df['protien'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[4])
# test_df['saturated fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[5])
# test_df['carbohydrates'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[6])

In [ ]:
# test_df['dish_recipe'] = filter_recipe['steps'].apply(lambda x : " ".join(ast.literal_eval(x)))

In [10]:
recipes = pd.read_csv('data/90_k_recipe.csv')

Used AWS to take 10,000 recipes and find the top 10 most similar recipes based on the recipe itself. Included for each recipe was the steps and ingredients. Bert allowed for the tokenazation of each word and vectoriez the sentence to be able to compare to one another. This was the result.

In [11]:
recipes = recipes[:10000]

In [12]:
top_10_for_each_recipe = pd.read_csv('data/first_10k_top_10_rec.csv')

In [16]:
top_10_for_each_recipe.head(11)

    Unnamed: 0  ...  similarity_rank
0            0  ...              3.0
1            1  ...              4.0
2            2  ...              7.0
3            3  ...              5.0
4            4  ...              6.0
5            5  ...              8.0
6            6  ...             10.0
7            7  ...              2.0
8            8  ...              1.0
9            9  ...              9.0
10          10  ...              8.0

[11 rows x 7 columns]