In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
cd drive/MyDrive/Capstone\ 3

/content/drive/MyDrive/Capstone 3

In [4]:
import pandas as pd
import os 
import ast
import matplotlib.pyplot as plt 
from sklearn.metrics.pairwise import cosine_similarity ### Cosine Similary
from scipy import sparse ### Sparse Matrix
import numpy as np

Loaded in original interation dataframe and recippe dataframe and only kept the recipes that had more than 2 reviews

In [5]:
interactions = pd.read_csv('data/RAW_interactions.csv')
recipes = pd.read_csv('data/RAW_recipes.csv')

In [12]:
g = {'rating' : ['mean'],'user_id' : ['nunique']}
int_summary = interactions.groupby(['recipe_id']).agg(g).reset_index()

In [13]:
#found average of every recipe and counted the number of unique reviewrs
int_summary

       recipe_id    rating user_id
                      mean nunique
0             38  4.250000       4
1             39  3.000000       1
2             40  4.333333       9
3             41  4.500000       2
4             43  1.000000       1
...          ...       ...     ...
231632    537459  5.000000       1
231633    537485  5.000000       1
231634    537543  0.000000       1
231635    537671  0.000000       1
231636    537716  5.000000       1

[231637 rows x 3 columns]

In [14]:
#rename the columns 
ind = pd.Index([e[0] + "_" +e[1] for e in int_summary.columns.tolist()])
int_summary.columns = ind
int_summary.columns = ['recipe_id', 'rating_mean', 'user_id_nunique']
int_summary

        recipe_id  rating_mean  user_id_nunique
0              38     4.250000                4
1              39     3.000000                1
2              40     4.333333                9
3              41     4.500000                2
4              43     1.000000                1
...           ...          ...              ...
231632     537459     5.000000                1
231633     537485     5.000000                1
231634     537543     0.000000                1
231635     537671     0.000000                1
231636     537716     5.000000                1

[231637 rows x 3 columns]

In [15]:
#only keep the recipes with more than 2 unique users
int_summary_94k = int_summary[ (int_summary['user_id_nunique'] > 2)]

In [17]:
#Merge the recipe data with the filtered recipes with more than 2 unique reviewers
filter_recipe = pd.merge(recipes,int_summary_94k,right_on = ['recipe_id'],left_on = ['id'],how = 'inner')

In [ ]:
#How to extract the nutriton values from the nutrition column in dataframe
test_df = filter_recipe.copy()
test_df['calories'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[0])
test_df['total fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[1])
test_df['sugar'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[2])
test_df['sodium'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[3])
test_df['protien'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[4])
test_df['saturated fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[5])
test_df['carbohydrates'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[6])

In [ ]:
# To turn the recipe into one sentence for tokenization use ast.literal_eval()
test_df['dish_recipe'] = filter_recipe['steps'].apply(lambda x : " ".join(ast.literal_eval(x)))

- In AWS I was able to use their pytorch GPU kernal for the computing of the embedding in BERT and cosine similarity of the first 10,000 recipes.

- The way the recipes are compared to one another was by the way the dish was made. In the steps of how to make the dish not only includeded ingredients but also gave bert the chance to understand the meaning of words and phrases. 

- After running the cosine similarity I saved only the top 10 closest recipes for each individual recipe.

- I than saved the 90k recipes and cosine df into csv to contine exploration in google colab

In [ ]:
recipes = pd.read_csv('data/90_k_recipe.csv')

In [ ]:
recipes = recipes[:10000]

In [ ]:
top_10_for_each_recipe = pd.read_csv('data/first_10k_top_10_rec.csv')

In [ ]:
top_10_for_each_recipe.head(11)

    Unnamed: 0  ...  similarity_rank
0            0  ...              3.0
1            1  ...              4.0
2            2  ...              7.0
3            3  ...              5.0
4            4  ...              6.0
5            5  ...              8.0
6            6  ...             10.0
7            7  ...              2.0
8            8  ...              1.0
9            9  ...              9.0
10          10  ...              8.0

[11 rows x 7 columns]

In [ ]:
recipes.drop('nutrition',axis=1,inplace=True)

In [ ]:
recipes_features = recipes[['name','n_steps','n_ingredients','rating_mean','calories','total fat','sugar','sodium','protien','saturated fat','carbohydrates']]

In [ ]:
recipes_features.columns

Index(['name', 'n_steps', 'n_ingredients', 'rating_mean', 'calories',
       'total fat', 'sugar', 'sodium', 'protien', 'saturated fat',
       'carbohydrates'],
      dtype='object')

In [ ]:
feat = ['calories',
       'total fat', 'sugar', 'sodium', 'protien', 'saturated fat',
       'carbohydrates']

In [ ]:
X = recipes_features[feat].values

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X = ss.fit_transform(X)

- Along with the embedding of the recipes the nutrition values extracted in the begining can be used to recommend.

In [ ]:
#Cosine similarity with the nutrition features

def cos_sim(name, X, n=5):
    index = recipes.index[(recipes['name'] == name)][0]
    rec = X[index].reshape(1,-1)
    cs = cosine_similarity(rec, X)
    rec_index = np.argsort(cs)[0][::-1]
    ordered_df = recipes.loc[rec_index]
    ordered_df = ordered_df.drop(index)
    rec_df = ordered_df.head(n)
    orig_row = recipes.loc[[index]].rename(lambda x: 'original')
    total = pd.concat((orig_row,rec_df))
    total.drop('Unnamed: 0',axis=1,inplace=True)
    return total

In [ ]:
cos_sim('arriba   baked winter squash mexican style',X)

          Unnamed: 0  ...                                        dish_recipe
original           0  ...  make a choice and proceed with recipe dependin...
6418            6418  ...  preheat oven to 450f lightly oil a baking shee...
2122            2122  ...  cook turnips until tender drain , mash and the...
8074            8074  ...  cover onion slices with cold water and let sta...
635              635  ...  preheat oven to 350 degrees f combine the firs...
1101            1101  ...  preheat oven to 350 degrees cut squash in half...

[6 rows x 23 columns]

In [ ]:
recipes_ingredients = recipes[['name','ingredients']]

In [ ]:
recipes_ingredients['ingredients'] = recipes_ingredients['ingredients'].map(lambda x: ast.literal_eval(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ingredients = ['potato']

def recipe_with_ingredients(ingredients,n):
  r_cop = recipes.copy()
  for i, ig in enumerate(recipes_ingredients['ingredients']):
    count = len(ingredients)
    for word in ingredients:
      if word in ig:
        count -= 1
    if count != 0:
      r_cop.drop(i,inplace=True)
  r_cop.drop('Unnamed: 0',axis=1,inplace=True)
  return r_cop.sort_values('rating_mean',ascending=False)[:n]

In [ ]:
recipe_with_ingredients(ingredients,10)

                                                 name  ...                                        dish_recipe
5931                               baked grated beets  ...  peel beets and shred coarsely peel and grate o...
7677  barefoot contessa s vegetable tian   ina garten  ...  preheat the oven to 375 degrees f brush a 9 by...
4897                               baby food  chicken  ...  grill or bake chicken , remove bones and shred...
610                            30 minute baked potato  ...  stab the potato with a fork several times and ...
8284                bc ferries manhattan clam chowder  ...  in a large saucepan , over medium heat , saute...
2054                                  amish bean soup  ...  boil the beans in the water for 2 minutes befo...
1118            adas polo   persian rice with lentils  ...  in a large saucepan , bring salted water to a ...
611                      30 minute beef pot pie for 2  ...  bake biscuits according to package directions ...
1392               algerian poached eggs   chakchouka  ...  in a deep skillet , heat the oil over medium h...
8641                                  beef minestrone  ...  in a dutch oven , cook beef and onion over med...

[10 rows x 22 columns]

In [ ]:
for number, step in enumerate(r_cop.sort_values('rating_mean',ascending=False)[:5]['steps'].map(lambda x: ast.literal_eval(x)).iloc[0]):
  print(f'Step{ number} : {step}')

Step0 : heat oven to 350
Step1 : grease& flour two 9x5 loaf pans
Step2 : combine flour , salt& soda- sift together in medium bowl , and set aside
Step3 : in large mixing bowl , cream sugar and shortening
Step4 : add eggs , sour cream& orange juice
Step5 : stir flour in until just moistened
Step6 : fold in cranberries , shredded apple and nuts
Step7 : divide mixture between prepared loaf pans
Step8 : bake 50 minutes , or until a tester comes out clean
Step9 : bread should be golden brown
Step10 : cool 10 minutes in pans , then cool on rack until cool
Step11 : wrap each loaf tightly and store in refrigerator for 2 days before slicing , or freeze

In [ ]:
top_10_for_each_recipe.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
top_10_for_each_recipe[top_10_for_each_recipe['recipe1_name'] == 'amazing chili'].sort_values('similarity_rank')

       recipe1  ...  similarity_rank
19055     1916  ...              1.0
19050     1916  ...              2.0
19053     1916  ...              3.0
19058     1916  ...              4.0
19052     1916  ...              5.0
19049     1916  ...              6.0
19056     1916  ...              7.0
19057     1916  ...              8.0
19051     1916  ...              9.0
19054     1916  ...             10.0

[10 rows x 6 columns]