In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
cd drive/MyDrive/Capstone\ 3

/content/drive/MyDrive/Capstone 3

In [44]:
import pandas as pd
import os 
import ast
#import sentence_transformers  #### This is the package which we will use for encoding recipes using pretrained embedding
import matplotlib.pyplot as plt 
#import networkx as nx #### Network x will be used to create graph based algorithms
import pickle ### We will use pickleto save files for later access
#from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity ### Cosine Similary
from scipy import sparse ### Sparse Matrix
#model = SentenceTransformer('bert-large-nli-stsb-mean-tokens') ### We will use this senetnce encodings
import numpy as np

Loaded in original interation dataframe and recippe dataframe and only kept the recipes that had more than 2 reviews

In [2]:
#interactions = pd.read_csv('data/RAW_interactions.csv')
#recipes = pd.read_csv('data/RAW_recipes.csv')

In [2]:
# g = {'rating' : ['mean'],'user_id' : ['nunique']}
# int_summary = interactions.groupby(['recipe_id']).agg(g).reset_index()
# ### Its gives a muti index output convert it to single index by cobining bothe level
# ind = pd.Index([e[0] + "_" +e[1] for e in int_summary.columns.tolist()])
# ### Assign the column names 
# int_summary.columns = ind
# int_summary.columns = ['recipe_id', 'rating_mean', 'user_id_nunique']
# ### We will keep only those recipes in considerstaion which have been reviewed by more than 2 people
# int_summary_94k = int_summary[ (int_summary['user_id_nunique'] > 2)]

In [3]:
#filter_recipe = pd.merge(recipes,int_summary_94k,right_on = ['recipe_id'],left_on = ['id'],how = 'inner')

In [ ]:
# test_df = filter_recipe.copy()
# #test_df['calories'] = test_df['nutrition']
# test_df['calories'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[0])
# test_df['total fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[1])
# test_df['sugar'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[2])
# test_df['sodium'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[3])
# test_df['protien'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[4])
# test_df['saturated fat'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[5])
# test_df['carbohydrates'] = test_df['nutrition'].map(lambda x: ast.literal_eval(x)[6])

In [ ]:
# test_df['dish_recipe'] = filter_recipe['steps'].apply(lambda x : " ".join(ast.literal_eval(x)))

In [10]:
recipes = pd.read_csv('data/90_k_recipe.csv')

Used AWS to take 10,000 recipes and find the top 10 most similar recipes based on the recipe itself. Included for each recipe was the steps and ingredients. Bert allowed for the tokenazation of each word and vectoriez the sentence to be able to compare to one another. This was the result.

In [11]:
recipes = recipes[:10000]

In [12]:
top_10_for_each_recipe = pd.read_csv('data/first_10k_top_10_rec.csv')

In [16]:
top_10_for_each_recipe.head(11)

    Unnamed: 0  ...  similarity_rank
0            0  ...              3.0
1            1  ...              4.0
2            2  ...              7.0
3            3  ...              5.0
4            4  ...              6.0
5            5  ...              8.0
6            6  ...             10.0
7            7  ...              2.0
8            8  ...              1.0
9            9  ...              9.0
10          10  ...              8.0

[11 rows x 7 columns]

In [20]:
recipes.drop('nutrition',axis=1,inplace=True)

In [26]:
recipes_features = recipes[['name','n_steps','n_ingredients','rating_mean','calories','total fat','sugar','sodium','protien','saturated fat','carbohydrates']]

In [173]:
recipes_features.columns

Index(['name', 'n_steps', 'n_ingredients', 'rating_mean', 'calories',
       'total fat', 'sugar', 'sodium', 'protien', 'saturated fat',
       'carbohydrates'],
      dtype='object')

In [175]:
feat = ['calories',
       'total fat', 'sugar', 'sodium', 'protien', 'saturated fat',
       'carbohydrates']

In [176]:
X = recipes_features[feat].values

In [177]:
from sklearn.preprocessing import StandardScaler

In [178]:
ss = StandardScaler()

In [179]:
X = ss.fit_transform(X)

In [180]:
#Cosine similarity with the nutrition features

def cos_sim(name, X, n=5):
    index = recipes.index[(recipes['name'] == name)][0]
    rec = X[index].reshape(1,-1)
    cs = cosine_similarity(rec, X)
    rec_index = np.argsort(cs)[0][::-1]
    ordered_df = recipes.loc[rec_index]
    ordered_df = ordered_df.drop(index)
    rec_df = ordered_df.head(n)
    orig_row = recipes.loc[[index]].rename(lambda x: 'original')
    total = pd.concat((orig_row,rec_df))
    return total

In [181]:
cos_sim('arriba   baked winter squash mexican style',X)

          Unnamed: 0  ...                                        dish_recipe
original           0  ...  make a choice and proceed with recipe dependin...
6418            6418  ...  preheat oven to 450f lightly oil a baking shee...
2122            2122  ...  cook turnips until tender drain , mash and the...
8074            8074  ...  cover onion slices with cold water and let sta...
635              635  ...  preheat oven to 350 degrees f combine the firs...
1101            1101  ...  preheat oven to 350 degrees cut squash in half...

[6 rows x 23 columns]

creating top 10 tags for each recipe

In [55]:
recipe_tags = recipes[['name','tags']]

In [119]:
recipes['tags'] = recipes['tags'].map(lambda x: ast.literal_eval(x))

In [71]:
d = {}
for tag in recipe_tags['tags']:
  for word in tag:
    if word not in d:
      d[word] = 0
    d[word] += 1

In [127]:
#sorted(d.items(), key=lambda item: item[1],reverse=True)

In [197]:
#recomendation on featurs and tags

#given name of recipe and the tags you are looking for , gives top recomendations based on dish with the tags
def cos_sim_tags(name, X,tags=None, n=5):
    index = recipes.index[(recipes['name'] == name)][0]
    rec = X[index].reshape(1,-1)
    cs = cosine_similarity(rec, X)
    rec_index = np.argsort(cs)[0][::-1]
    ordered_df = recipes.loc[rec_index]
    if tags == None:
      rec_df = ordered_df.head(n)
      orig_row = recipes.loc[[index]].rename(lambda x: 'original')
      total = pd.concat((orig_row,rec_df))
      return total
    for i, j in enumerate(ordered_df['tags']):
      counter = 0
      for word in j:
        if word in tags:
          counter += 1

      if counter == 0:
        ordered_df.drop(i,inplace=True)
    try:
      ordered_df = ordered_df.drop(index)
    except:
      pass
    rec_df = ordered_df.head(n)
    orig_row = recipes.loc[[index]].rename(lambda x: 'original')
    total = pd.concat((orig_row,rec_df))
    return total

In [198]:
example_name = 'acorn squash with pineapple'
cos_sim_tags(example_name,X,tags=['low-protein'])

          Unnamed: 0  ...                                        dish_recipe
original        1101  ...  preheat oven to 350 degrees cut squash in half...
0                  0  ...  make a choice and proceed with recipe dependin...
465              465  ...  pre heat oven to 350 add bananas and oats to a...
768              768  ...  preheat oven to 425 degrees f in a large bowl ...
4308            4308  ...  cut grapefruit in halves and remove fruit sect...
635              635  ...  preheat oven to 350 degrees f combine the firs...

[6 rows x 23 columns]

In [195]:
recipes[recipes['name'] == 'acorn squash with pineapple']['tags'].values

array([list(['weeknight', 'time-to-make', 'course', 'main-ingredient', 'preparation', 'low-protein', 'healthy', 'side-dishes', 'fruit', 'vegetables', 'oven', 'easy', 'low-fat', 'dietary', 'low-sodium', 'low-cholesterol', 'low-saturated-fat', 'low-calorie', 'healthy-2', 'low-in-something', 'tropical-fruit', 'pineapple', 'equipment', '4-hours-or-less'])],
      dtype=object)

In [209]:
recipes_ingredients = recipes[['name','ingredients']]

In [210]:
recipes_ingredients['ingredients'] = recipes_ingredients['ingredients'].map(lambda x: ast.literal_eval(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [246]:
ingredients = ['potato']

def recipe_with_ingredients(ingredients,n):
  r_cop = recipes.copy()
  for i, ig in enumerate(recipes_ingredients['ingredients']):
    count = len(ingredients)
    for word in ingredients:
      if word in ig:
        count -= 1
    if count != 0:
      r_cop.drop(i,inplace=True)
  r_cop.drop('Unnamed: 0',axis=1,inplace=True)
  return r_cop.sort_values('rating_mean',ascending=False)[:n]

In [247]:
recipe_with_ingredients(ingredients,10)

                                                 name  ...                                        dish_recipe
5931                               baked grated beets  ...  peel beets and shred coarsely peel and grate o...
7677  barefoot contessa s vegetable tian   ina garten  ...  preheat the oven to 375 degrees f brush a 9 by...
4897                               baby food  chicken  ...  grill or bake chicken , remove bones and shred...
610                            30 minute baked potato  ...  stab the potato with a fork several times and ...
8284                bc ferries manhattan clam chowder  ...  in a large saucepan , over medium heat , saute...
2054                                  amish bean soup  ...  boil the beans in the water for 2 minutes befo...
1118            adas polo   persian rice with lentils  ...  in a large saucepan , bring salted water to a ...
611                      30 minute beef pot pie for 2  ...  bake biscuits according to package directions ...
1392               algerian poached eggs   chakchouka  ...  in a deep skillet , heat the oil over medium h...
8641                                  beef minestrone  ...  in a dutch oven , cook beef and onion over med...

[10 rows x 22 columns]

In [231]:
for number, step in enumerate(r_cop.sort_values('rating_mean',ascending=False)[:5]['steps'].map(lambda x: ast.literal_eval(x)).iloc[0]):
  print(f'Step{ number} : {step}')

Step0 : heat oven to 350
Step1 : grease& flour two 9x5 loaf pans
Step2 : combine flour , salt& soda- sift together in medium bowl , and set aside
Step3 : in large mixing bowl , cream sugar and shortening
Step4 : add eggs , sour cream& orange juice
Step5 : stir flour in until just moistened
Step6 : fold in cranberries , shredded apple and nuts
Step7 : divide mixture between prepared loaf pans
Step8 : bake 50 minutes , or until a tester comes out clean
Step9 : bread should be golden brown
Step10 : cool 10 minutes in pans , then cool on rack until cool
Step11 : wrap each loaf tightly and store in refrigerator for 2 days before slicing , or freeze

In [249]:
top_10_for_each_recipe.drop('Unnamed: 0',axis=1,inplace=True)

In [258]:
top_10_for_each_recipe[top_10_for_each_recipe['recipe1_name'] == 'amazing chili'].sort_values('similarity_rank')

       recipe1  ...  similarity_rank
19055     1916  ...              1.0
19050     1916  ...              2.0
19053     1916  ...              3.0
19058     1916  ...              4.0
19052     1916  ...              5.0
19049     1916  ...              6.0
19056     1916  ...              7.0
19057     1916  ...              8.0
19051     1916  ...              9.0
19054     1916  ...             10.0

[10 rows x 6 columns]

In [257]:
recipes[recipes['name'] == '5 bean chili']

     Unnamed: 0  ...                                        dish_recipe
732         732  ...  brown ground beef and onion in a large non-sti...

[1 rows x 23 columns]

In [259]:
top_10_for_each_recipe

       recipe1  ...  similarity_rank
0            0  ...              3.0
1            0  ...              4.0
2            0  ...              7.0
3            0  ...              5.0
4            0  ...              6.0
...        ...  ...              ...
99845     9999  ...              5.0
99846     9999  ...              4.0
99847     9999  ...              9.0
99848     9999  ...              8.0
99849     9999  ...              1.0

[99850 rows x 6 columns]